.context
  .title
    h1 «Карта демографических показателей майских указов Президента РФ» Общероссийского народного фронта
  .rainbow
    .left-text НЕУДОВЛЕТВОРИТЕЛЬНО
    .line
    .left-text ОТЛИЧНО
  .info – В ВЫБОРЕ НЕ УЧАСТВУЕТ
.map
  #svg-map-root
  .month
    .title Месяц
    .clearfix.slider
      rzslider(
        rz-slider-model="$root.month.value",
        rz-slider-options="$root.month.options"
      )
  .factors
    .custom-radio(ng-repeat="param in paramsList")
      input(id="factor-{{param.Id}}", type="checkbox", name="factor", ng-model="param.selected",value="{{param.Id}}", ng-change="main.changeParam()")
      label(for="factor-{{param.Id}}") {{param.Name}}
  .rating
    .custom-radio
      input#rating-dynamic(type="radio", name="rating", ng-model="$root.selectedYear", value="dynamic", ng-change="main.updateColors()")
      label(for="rating-dynamic") Динамика
    .custom-radio(ng-repeat="year in ['2017', '2018']")
      input(id="rating-{{year}}" type="radio",name="rating", ng-model="$root.selectedYear", value="{{year}}", ng-change="main.updateColors()")
      label(for="rating-{{year}}") Рейтинг {{year}}
  .regions
    .title Федеральный округ:
    .custom-checkbox(ng-repeat="okrug in okrugList")
      input(
      type="checkbox",
      ng-model="okrugs.selected[okrug.idA]",
      id="okrug-{{okrug.idA}}",
      ng-click="main.okrugs.changeActive($event, okrug.idA)")

      label(for="okrug-{{okrug.idA}}") {{okrug.name}}
    .custom-checkbox
      input(
        type="checkbox",
        ng-model="okrugs.allSelected",
        id="okrug-all",
        ng-click="main.okrugs.changeActive($event, 'all')"
      )
      label(for="okrug-all") Выбрать все


