
.context {
  height:100%;
  position:absolute;
  padding-top:7.2em;
  top:0;
  left: -2em;
  right:0;
  margin:auto;
  width:60%;
  z-index:450;
  box-sizing:border-box;
  .title {
    color #333
    text-align:center;

    .description {
      font-size 1.315em
      font-weight:500;
    }
    h1 {
      font-size 2.296em
      font-weight 500
      margin: 0;
      letter-spacing:-.05em;

    }
  }
  .rainbow {
    position:absolute;
    bottom: 5.2em;
    left:0;
    width:100%;
    text-align:center;
    .left-text {
      color grey
      font-size 1.091em
      font-weight 400
      display:inline-block;
      position:absolute;
      top:0;
      left:-12em;
      &:last-child {
        left: auto;
        right:-5em;
      }
    }
    .line {
      width:100%;
      display:inline-block;
      height:2em;background:url(/assets/images/rainbow.png) top center no-repeat;
      background-size: 100% auto;
    }
  }
  .info {
    position:absolute;
    bottom:10em;
    left:0;
    &:before {
      content: "";
      width:.8em;
      height:.8em;
      background #ccc;
      display:inline-block;
      margin-right:.5em;
    }
  }
}
.map {
  position:relative;
  z-index:550;
  height:100%;
  .month {
    position: absolute
    z-index: 1000;
    width: 35em
    top: 13em
    left: 0
    right: 0
    margin: 0 auto
    .title {
      text-align: center;
    }
    .rzslider {
      margin-top: 1em
    }
  }
  #svg-map-root {
    width:80%;
    height:80%;
    position:absolute;
    top:12%;
    left:5%;
    bottom:0;
    margin:auto 0;
  }


  .rating {
    position:absolute;
    z-index:600;
    right: 3em;
    top: 8em;
    width: 15em;
    input {
      width:.001em;
      height:.001em;
      opacity:.001;
      &:checked+label:before {
        opacity:1;
        background:#076ca5;
      }
    }
    label {
      color #333
      font-family "PT Sans"
      font-size 1.091em
      font-weight 400
      position:relative;
      display:inline-block;
      margin-bottom:.65em;
      line-height:1;
      cursor:pointer;
      &:before {
        content:"";
        display:inline-block
        border:.35em solid #fff;
        box-shadow: 0 0 0 1.5px #ccc;
        width:.4em;
        height:.4em;
        border-radius:50%;
        margin-right:1em;
        vertical-align: middle;
        padding: .25em
        //box-sizing: border-box;

      }

    }
  }
  .factors {
    position: absolute;
    left: 3em;
    top: 12.5em;
    width: 25em;

  }
  .regions {
    position:absolute;
    right:3em;
    top: 22em;
    width: 15em;

    .title {
      color #333
      font-size 1.636em
      font-weight 700
      margin-bottom:1em;
      text-align:center;
    }

  }
  path {
    cursor:pointer;
    transition: fill-opacity .4s, fill .4s;
    stroke-opacity: 1!important;
    stroke-width: 1;
  }
}
.rotate-device {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #cecece;

  .svg {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 90%;
    svg {
      width: 100%;
      margin: 30% auto 2em ;
      display: block;
    }
    .text {
      font-size: 7em;
      color: #000;
      margin-top: 1em;
      line-height: 1.2em;
      text-align: center;
    }
  }

  @media all and (max-width: 1024px) and (orientation: portrait) {
    display: block;

  }
}
