.region-detail(ng-show="region.showed")
  .popup
    .title {{region.selected.name}}
    .icon-close(ng-click="region.showed = false;")
    table.stats
      tbody
        tr
          td Округ
          td {{ okrugsById[region.selected.idA] }}


    table.stats
      thead
        tr
          td Параметр
          td 2017г.
          td 2018г.
          td Динамика
      tbody
        tr(ng-repeat="stat in region.rating")
          td {{stat.param_name}}
          td {{stat.rating_2017 | number:1 }}
          td {{stat.rating_2018 | number:1 }}
          td {{stat.dynamic | number:1 }}
        tr
          td
            b Итого
          td
            b {{region.total[2017]| number:1 }}
          td
            b {{region.total[2018]| number:1 }}
          td
            b {{region.total.dynamic | number:1 }}
