
.region-detail {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, .5);
  z-index: 1020;
  top: 0;
  left: 0;

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: auto;
    width: 40em;
    background: #449fdc;
    border-radius: 1em;
    padding: 0.6em 0.34em;
    box-sizing: border-box;
    .title {
      color white
      font-size 1.982em
      font-weight 500
      margin: 0.15em 0.6em 0.5em;
      letter-spacing: -0.03em;
      height: 1.6em;
    }

    .icon-close {
      background: url(/assets/images/stats-table/close-popup.png) center center no-repeat;
      background-size:100%;
      width 2.273em
      height 2.273em
      position:absolute;
      top:1.2em;
      right:1.2em;
      cursor:pointer;
    }
    table {
      border-radius:.5em;
      margin: 0 auto;
      & + table {
        margin-top: 5px;
      }
      thead {
        tr {
          td {
            font-weight: bold
            border-bottom: 1px solid #000!important
          }
        }
      }
      td {
        padding: .5em 1em;
      }
      /*tr:nth-child(2n) td {
        background: #ccc;
      }*/
      tr:last-child {
        td {
          border:none;
        }
      }
    }
  }
}
