/*@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
    local('PTSans-Regular'),
    url('/assets/fonts/ptsans.woff2') format('woff2'),
    url('/assets/fonts/ptsans.woff') format('woff'),
    url('/assets/fonts/ptsans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Italic'),
    local('PTSans-Italic'),
    url('/assets/fonts/ptsansitalic.woff2') format('woff2'),
    url('/assets/fonts/ptsansitalic.woff') format('woff'),
    url('/assets/fonts/ptsansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'),
    local('PTSans-Bold'),
    url('/assets/fonts/ptsansbold.woff2') format('woff2'),
    url('/assets/fonts/ptsansbold.woff') format('woff'),
    url('/assets/fonts/ptsansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold Italic'),
    local('PTSans-BoldItalic'),
    url('/assets/fonts/ptsansbolditalic.woff2') format('woff2'),
    url('/assets/fonts/ptsansbolditalic.woff') format('woff'),
    url('/assets/fonts/ptsansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
*/
