/* Do not remove the comments below. It's the markers used by wiredep to inject
   stylus dependencies when defined in the bower.json of your dependencies */
// bower:styl
// endbower

html, body {
  height:100%;
  overflow:hidden;
}
body {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1;

}
[ui-view] {
  height:100%;
}
.ps-container {
  & > .ps-scrollbar-y-rail {
    opacity: 1;
    background: #e6e6e6;
    border-radius: 0;
    .ps-scrollbar-y {
      opacity: 1;
      border-radius: 0;
      background: #333;
    }
  }
}
.month {
  .slider {
    .rzslider {
      .rz-bar {
        background: #ffe4d1;
        height: 2px;
      }
      .rz-selection {
        background: orange;
      }
      //.rz-bar-wrapper {
      //  width: calc(100% - 1em);
      //  margin: 0 auto 0;
      //  padding: 0;
      //  right:0;
      //}

      .rz-pointer {
        width: .8em;
        height: 1.6em;
        top: auto; /* to remove the default positioning */
        bottom: -.3em;
        background-color: #333;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      .rz-pointer:after {
        display: none;
      }

      .rz-bubble {
        bottom: 2em;
        padding: 0 0.6em;
      }

      .rz-limit {
        font-weight: bold;
        color: orange;
      }

      .rz-ticks {
        top: -0.5em
        width: calc(100% + 2em);
        left: -1.2em;
        .rz-tick {
          width: 1px;
          height: 1em;
          margin-left: 0.5em;
          border-radius: 0;
          background: #ffe4d1;
          top: -1px;
          &.rz-selected {
            background: orange;
          }
          .rz-tick-value {
            top: 1.5em
          }
        }
      }

    }
  }
}
.custom-checkbox {
  input {
    width: .001em;
    height:.001em;
    opacity:.001;
    &:checked+label:before {
      background: url(/assets/images/checker.png) center center no-repeat;
    }
  }
  label {
    color #333
    font-size 1.091em
    font-weight 400
    position: relative;
    display: inline-block;
    margin-bottom: .65em;
    line-height: 1;
    cursor: pointer;
    &:before {
      content: "";
      display: inline-block
      border: 2px solid #d2e0ea;
      width: 1.7em;
      height: 1.7em;
      border-radius: .2em;
      margin-right: 1em;
      vertical-align: middle;
      background-size:0.71em 0.45em!important
    }
  }
}
table {
  background:#fff;
  width:97%;
  padding:0;
  border-spacing 0;
  tr {
    td {
      color #333
      font-size 1.091em
      font-weight 400
      padding:.2em;
      position:relative;
      border-bottom: 1px solid #c5c5c5;

      span {
        //position:absolute;
        top:.63em;
        left:0;
      }
    }
  }
}

.jqvmap-label {
  position:absolute;
  top:0;
  left:5;
  background:#fff;
  border-radius:.5em;
  padding:.5em 1em;
  z-index: 9999;
  transform: translate(.5em, -2em)
  border:1px solid #cecece;
  box-shadow: 3px 3px 3px rgba(0,0,0,.3);

  &:after {

    content: "";
    position: absolute;
    top: 99%;
    right: 5%;
    margin-left: -0.6em;
    background: transparent;
    border: 0.6em solid transparent;
    border-top: 0.9em solid #fff;
  }

  &.leftReflection {
    margin-left:-4em;
  }
  &.leftReflection:after {
    left:10%;
    right:auto;
  }
  ul {
    padding-left: 1.7em;
  }
}
div#preloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.4em;
  width: 100%;
  background: #076ca5;
  z-index: 9999;
  transition: width .5s;
  border-bottom:1px solid #fff;
}
/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
