.stats-table {
  width:100%;
  height:100%;
  position:absolute;
  background:rgba(0,0,0,.5);
  z-index:1020;
  top:0;
  left:0;

  .popup {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 83.4%;
    height: 87.5%;
    background: #449fdc;
    border-radius: 1em;
    padding: 0.6em 0.34em;
    box-sizing: border-box;
    .title {
      color white
      font-size 1.982em
      font-weight 500
      padding: 0.15em 0.6em 0.5em;
      letter-spacing: -0.03em;
      height:2em
      box-sizing: border-box;
    }

    .icon-close {
      background: url(/assets/images/stats-table/close-popup.png) center center no-repeat;
      background-size:100%;
      width 2.273em
      height 2.273em
      position:absolute;
      top:1.2em;
      right:1.2em;
      cursor:pointer;
    }
    .content {
      height: calc(100% - 5em);
    }
    .left {
      width:40.4%;
      float:left;
      height:100%;

    }

    .tabs {
      height: calc(100% - 4.6em);
      overflow:hidden;
      .tabs-switcher {
        margin:0;
        padding:0;
        list-style:none;
        height 2.5em
        &:after {
          content: "";
          display:table;
          clear:both;
        }
        .btn {
          background:#ccc;
          color white
          font-size 1.636em
          font-weight 600
          text-transform:uppercase;
          position:relative;
          float:left;
          width:47.5%;
          text-align:center;
          margin-right:2.5%;
          cursor:pointer;
          box-sizing:border-box;
          padding:.15em 0 .18em;
          border-radius: .5em .5em 0 0;

          &:after {
            content:"";
            width 2em
            height 100%
            background: url(/assets/images/stats-table/tabs-btn-bg-left.png) right top no-repeat transparent;
            background-size: auto 100%;
            position:absolute;
            right:-1.30em;
            top:0;
          }
          &.active {
            color:grey;
            background-color:white;
            z-index: 200;
            &:after {
              background-image: url(/assets/images/stats-table/tabs-btn-bg-left-active.png);
            }
          }
          & + .btn {
            margin-right: 0;
            margin-left:2.5%;
            z-index: 150;
            &:after {
              right:auto;
              left:-1.35em;
              background: url(/assets/images/stats-table/tabs-btn-bg-right.png) left top no-repeat;
              background-size: auto 100%;
            }
            &.active {
              &:after {
                background-image: url(/assets/images/stats-table/tabs-btn-bg-right-active.png);
              }
            }
          }
        }
      }
      .tabs-content {
        background:#fff;
        height:calc(100% - 2.5em)
        box-sizing border-box
        padding: 1.5em .5em;
        width: calc(100% - 2em);

        .btn {

          margin: 2em 0 0 1.6em;
          width: auto;
          height: auto;
          font-size: 1.1em;
          background: #449fdc;
          border-radius: 0.5em;
          padding: .3em 4em;
          box-sizing: border-box;
          color: white;
          border: none;
          cursor: pointer;
          transition: opacity .3s
          &:hover {
            opacity: .8
          }
        }

        &:after {
          content: "";
          display:table;
          clear:both;
        }
        section,
        .scroll-area {
          height:100%;
        }
        .scroll-area {
          position:relative;
          overflow:hidden;
        }
        table {

          td {
            width:63%;
            & + td {
              width:25%;
              &+td {
                width 8%;
              }
            }
          }
        }
        //.rzslider {
        //  margin:0;
        //  height:.5em;
        //}
        //.rz-pointer {
        //  width:1em;
        //  height:1em;
        //  top:-.4em;
        //  background:#333;
        //  &:after {
        //    display:none;
        //  }
        //}
        //.rz-bubble {
        //  right:-25px;
        //  left:auto!important;
        //  top:-.6em;
        //  color #449fdc
        //}
        //.rz-bar {
        //
        //  height: 0.2em;
        //}
        //.rz-bar-wrapper {
        //
        //  height: 1em;
        //  padding-top: 1.8em;
        //  margin-top: -1.2em;
        //}
      }
    }

    .right {
      //float:left;
      //width:58%;
      width: 100%
      height:100%;
      margin-left:1%;
      .tabs {
        height:100%;
        border-radius: 0 .5em .5em .5em;
        div.tabs-content {
          border-top-right-radius .5em;
          .filter-group {
            .title {
              color #333
              height:auto;
              font-size: 1.4em;
              font-weight: 500;
              margin: -.2em 0 1em 0.3em;
            }
            .month .title {
              margin-bottom: 0
            }
            &:after, &:before {
              display: table;
              clear: both;
              content: ""
            }
          }
          .month {
            float: left
            width: 50%
            .slider {
              width: 80%

              .rzslider {
                margin: 2em 0 1em 5%
              }
            }
          }
          .okrug-list {
            height:10em
            float: left;
            width: 50%
            overflow:hidden;
            .checkbox-list {
              &:after {
                content: "";
                display:table;
                clear:both;

              }
              .custom-checkbox {
                float:left;
                width:33%;
                label {
                  font-size 1.091em
                  &:before {
                    width 1.255em
                    height 1.255em
                    border-width: 1px;
                  }
                }
              }
            }
          }
          section.tab {
            height: calc(100% - 10.5em);
            padding-top: 1.5em;
          }
          table {
            padding:0;
            border-spacing: 0;
            tr {
              td {
                width: 4%;
                text-align:center;
                transition: background-color .3s;
                &.name  {
                  text-align:left;
                  width:35%;
                }
                &.dynamic {
                  &.positive {
                    color #71c91c
                  }
                  &.negative {
                    color #f2412f
                  }
                }
              }

              &:hover td {
                background-color:#cecece!important;
              }
              &:first-child td {
                padding-top: 1em;
              }
              &:nth-child(2n) td {
                background-color #f2f2f2
              }
            }
            tr {
              th {
                background:#b3b3b3;
                color white
                font-size 1.091em
                font-weight 400
                padding:.2em .5em;
                border-left:1px solid white;
              }

              &:last-child th {
                border-right: 1px solid white;
              }
            }
          }
        }
      }
    }
    .nav {
      position:relative;
      background:white;
      border-radius: 0 0 .5em .5em;
      padding: 0.85em;
      box-sizing: border-box;
      height: 4.6em;
      &:after {
        content: "";
        display:table;
        clear:both;
      }
      .btn {
        float:left;
        margin-right:.8em;
        border-radius: .5em;
        box-sizing:border-box;
        cursor:pointer;
        transition:background-color .3s;
        &:last-child {
          margin-right:0;
        }
        &.blue {
          padding: .5em 1em;
          color white
          font-size 1.182em
          font-weight 300
          background #449fdc;
        }
        &.dl {
          background: url(/assets/images/stats-table/dl-btn.png) center center no-repeat #449fdc;
          background-size:60% 60%;
          height:2.35em;
          width:2.35em;
          padding:0;
        }
        &.save {
          background: url(/assets/images/stats-table/save-btn.png) center center no-repeat #449fdc;
          background-size:60% 60%;
          height:2.35em;
          width:2.35em;
          padding:0;
        }

        &:hover {
          background-color:#82bee6;
        }
        &.close {
          background: url(/assets/images/stats-table/close-btn.png) center center no-repeat #999;
          background-size:60% 60%;
          height:2.8em;
          width:2.8em;

          &:hover {
            background-color:#b1b1b1;
          }
        }
      }
    }
  }
}
