.stats-table.stats-table-animate(ng-if="tableIsShowed")
  .popup
    .title Мониторинг демографических показателей "Майского" Указа 2018 г."
    .icon-close(ng-click="$root.tableIsShowed = false;")
    .content
      .right
        .tabs(content-tabs)
          ul.tabs-switcher
            li.btn Таблица
          .tabs-content
            .filter-group.clearfix
              .okrug-list
                .title Федеральный округ:
                .checkbox-list
                  .custom-checkbox(ng-repeat="okrug in okrugList")
                    input(
                      type="checkbox",
                      ng-model="okrugs.selected[okrug.idA]",
                      id="okrug-{{okrug.idA}}",
                      ng-click="main.okrugs.changeActive($event, okrug.idA);table.initRegions();")
                    label(for="okrug-{{okrug.idA}}") {{okrug.name}}
                  .custom-checkbox
                    input(
                      type="checkbox",
                      ng-model="okrugs.allSelected",
                      id="okrug-all",
                      ng-click="main.okrugs.changeActive($event, 'all')"
                    )
                    label(for="okrug-all") Выбрать все
              .month
                .title Месяц:
                .clearfix.slider
                  rzslider(
                    rz-slider-model="$root.month.value",
                    rz-slider-options="$root.month.options"
                  )
                button.btn(ng-click="table.export()") Выгрузить

            section.tab
              perfect-scrollbar.scroll-area
                table
                  thead
                    tr
                      th Позиция
                      th Локальная позиция
                      th Наименование региона
                      th 2017 г.
                      th 2018 г.
                      th Динамика

                  tbody
                    tr(ng-repeat="region in table.regions.list",ng-if="$root.okrugs.selected[region.idA]")
                      td.pos {{region.position}}
                      td.local {{region.position}}
                      td.name {{region.name}}
                      td.y2017 {{region.rating2017 | number:1}}
                      td.y2018 {{region.rating2018 | number:1}}
                      td.dynamic(ng-class="{positive: region.dynamic >= 0,negative:region.dynamic < 0}") {{region.dynamic | number:1}}

