nav.main {
  top: 0;
  left:13.9em;
  box-shadow: -.2em 2px .5em rgba(0,0,0,.4);

  margin:0 auto;
  position:absolute;
  z-index: 550;

  & > ul {
    list-style: none;
    padding:0;
    margin:0;
    & > li {
      float:left;
      &:not(.logo) {
        margin:0 .1em;
        cursor:pointer;
        width:13.55em;
        height 5.5em
        text-align center
        font-family "PT Sans"
        font-size 1.091em
        font-weight 400
        position:relative;
        z-index:0;
        background: linear-gradient(to top, #fff 0%,#eff4f8 35%,#e6eef3 51%,#d2e0ea 100%);
        &:before {
          content: "";
          display:inline-block;
          width:0;
          vertical-align:middle;
          height:100%;
        }
        .hover {
          position:absolute
          left:0;
          bottom:0;
          width 100%
          z-index:100;
          height:20%;
          transition: height .4s;
        }

        & > span {
          color black
          vertical-align:middle;
          display:inline-block;
          background-size: auto 100%;
          position:relative;
          z-index:200;
          transition: color .4s, text-shadow .4s;
        }
        &:hover,
        &.opened {
          & > span {
            font-weight:600;
            color: #fff;
            text-shadow: 2px 1px 0 rgba(0,0,0,.3)
          }
          .hover {
            height: 100%;
          }
        }
      }
      &.dl {

        padding-left:3.5em;
        cursor:pointer;
        z-index:300;
        font-weight:600;
        text-align:right;
        padding-right:.5em;
        width: 5.5em;
        span {
          text-decoration: underline;
          background: url(/assets/images/dl-button.png) left center no-repeat;
          padding-left:1.5em;
        }
        &:hover,
        &.opened {
          span {
            text-decoration:none;
            color: #333;
            text-shadow:none;
          }
        }
        .arrow {
          width:2em;
          height:100%;
          position:absolute;
          right:-1.85em;
          top:0;
          background:url(/assets/images/nav/gray-arrow.png) center center no-repeat;
          background-size: auto 100%;
          z-index:300;
        }
      }
      &.caption {
        z-index: 250;
        width:11.35em;
        font-weight: 600;
        transition: opacity .3s;
        span {
          color: #fff;
          font-size 1.255em
        }
        .hover {
          height:100%;
          background: linear-gradient(to bottom, #7abbe6 0%,#3c92c7 50%,#2585c0 51%,#076ca5 100%);
        }
        &:hover {
          opacity: .8;
        }

        .arrow {
          width:2em;
          height:100%;
          position:absolute;
          right:-1.9em;
          top:0;
          background:url(/assets/images/nav/blue-arrow.png) center center no-repeat;
          background-size: auto 100%;
          z-index:300;
        }
      }
      &.hight {
        .hover {
          background: linear-gradient(to bottom, #9bd95f 0%,#7fcf33 50%,#71c91c 51%,#71c91c 100%);
        }
        .country-list-overlay {
          border-color: #71c91c;
          &:before {
            border-top-color: #71c91c;
          }
        }
      }
      &.medium {
        .hover {
          background: linear-gradient(to bottom, #f2e467 0%,#efdd42 50%,#edd929 51%,#edd929 100%);
        }

        .country-list-overlay {
          border-color: #edd929;
          &:before {
            border-top-color: #edd929;
          }
        }
      }
      &.low {
        .hover {
          background: linear-gradient(to bottom, #f6776b 0%,#f45747 50%,#f2412f 51%,#f2412f 100%);
        }

        .country-list-overlay {
          border-color: #f2412f;
          &:before {
            border-top-color: #f2412f;
          }
        }
      }
      &.empty {
        margin-right:0;
        .hover {
          background: linear-gradient(to bottom, #d6e4ec 0%,#ccdde8 50%,#c6d9e5 51%,#c6d9e5 100%);

        }

        .country-list-overlay {
          border-color: #c6d9e5;
          &:before {
            border-top-color: #c6d9e5;
          }
        }
      }
      .country-list-overlay {

        transition: visibility .4s, opacity .4s, top .4s;
        visibility: hidden;
        opacity: 0;
        position:absolute;
        top:100%;
        left:0;
        z-index:800;
        border:1px solid transparent;
        width: 130%;
        margin: 0 -15%;
        padding:.8em 0;
        background: white;
        &:before {
          content: "";
          position: absolute;
          top: -1em;
          left: 50%;
          margin-left: -0.6em;
          background: transparent;
          border: 0.6em solid transparent;
          border-top: 0.9em solid #71c91c;

        }
      }
      .country-list {
        max-height: 22.4em;
        overflow:hidden;
        position:relative;


        ul {
          list-style:none;
          text-align:left;
          padding: 0;
          li {
            font-size 1.091em
            font-weight: 400;
            color: #333;
            margin: 0 .8em .28em;
            letter-spacing: -.05em;
            transition: color .25s;
            cursor:default
            span {
              border-bottom: 1px solid transparent;
              transition: border-color .25s;
              &.count {
                color: #449fdc;
                padding-left: .4em;
              }
            }
            /*&:hover {
              color #449fdc;
              span {
                border-color:#449fdc
              }
            }*/
          }
        }
      }
      &.opened {
        .country-list-overlay {
          visibility: visible;
          top: 115%;
          opacity: 1;
        }
      }
    }
    .logo {
      background:url(/assets/images/logo.png) top center no-repeat;
      background-size: 100%;
      width: 13.273em;
      height: 11.273em;

      position:absolute;
      left:-13em;
      top:0;
      z-index: 400;
    }
  }
}
