nav.main
  ul(nav-click-group)
    li.logo
    li.dl
      //span ЗАГРУЗИТЬ EXCEL
      .arrow
    li.caption(ng-click="$root.tableIsShowed = true")
      span РЕЙТИНГ
      .hover
      .arrow
    li.hight.btn
      span ОТЛИЧНО
      .hover
      .country-list-overlay
        perfect-scrollbar.country-list
          ul
            li(ng-repeat="region in regions[selectedYear][month.value]",ng-if="region.group == 'top'")
              span {{region.name}}
              span.count ({{region.rating | number:2}})
            li(ng-if="regions[selectedYear][month.value].keys().length")
              span Не найдено регионов с данным рейтингом
    li.medium.btn
      span УДОВЛЕТВОРИТЕЛЬНО
      .hover
      .country-list-overlay
        perfect-scrollbar.country-list
          ul
            li(ng-repeat="region in regions[selectedYear][month.value]",ng-if="region.group == 'middle'")
              span {{region.name}}
              span.count ({{region.rating | number:2}})
    li.low.btn
      span НЕУДОВЛЕТВОРИТЕЛЬНО
      .hover
      .country-list-overlay
        perfect-scrollbar.country-list
          ul
            li(ng-repeat="region in regions[selectedYear][month.value]",ng-if="region.group == 'lower'")
              span {{region.name}}
              span.count ({{region.rating | number:2}})
    li.empty.btn(ng-click="$root.infoIsShowed = true;")
      span Информация о карте
      .hover
      //.country-list-overlay
      //  perfect-scrollbar.country-list
      //    ul
      //      li(ng-repeat="region in regions[selectedYear][month.value]",ng-if="region.code && region.group == false")
      //        span {{region.name}}
      //        span.count ({{region.rating | number:2}})

