.info-popup {
  width:100%;
  height:100%;
  position:absolute;
  background:rgba(0,0,0,.5);
  z-index:1020;
  top:0;
  left:0;

  .popup {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 60%;
    height: 70%;
    background: #449fdc;
    border-radius: 1em;
    padding: 0.6em 0.34em;
    box-sizing: border-box;
    .title {
      color white
      font-size 1.982em
      font-weight 500
      padding: 0.15em 0.6em 0.5em;
      letter-spacing: -0.03em;
      height:2em
      box-sizing: border-box;
    }

    .icon-close {
      background: url(/assets/images/stats-table/close-popup.png) center center no-repeat;
      background-size:100%;
      width 2.273em
      height 2.273em
      position:absolute;
      top:1.2em;
      right:1.2em;
      cursor:pointer;
    }
    .content {
      height: calc(100% - 4em);
      background:#fff;
      font-size: 1.5em;
      overflow: auto;
      border-radius: 5px
      padding: .5em 1.5em
      margin: 0 .5em;
      -webkit-overflow-scrolling touch
    }
  }
}
