.info-popup.stats-table-animate(ng-if="infoIsShowed")
  .popup
    .title Добрый день!
    .icon-close(ng-click="$root.infoIsShowed = false;")
    .content
      p Вы находитесь на ресурсе Общероссийского народного фронта «Карта демографических показателей» «майского указа» Президента РФ.
      p Указ президента РФ от 7 мая 2018 г. № 204 «О национальных целях и стратегических задачах развития РФ на период до 2024 года» содержит целевые показатели снижения:
      ul
        li смертности населения трудоспособного возраста (до 350 случаев на 100 тыс. населения);
        li младенческой смертности (до 4,5 случая на 1 тыс. родившихся детей);
        li смертности от болезней системы кровообращения (до 450 случаев на 100 тыс. населения);
        li смертности от новообразований, в том числе от злокачественных (до 185 случаев на 100 тыс. населения);
        li смертности в результате дорожно-транспортных происшествий - в 3,5 раза по сравнению с 2017 годом - до уровня, не превышающего четырех человек на 100 тыс. населения (к 2030 году - стремление к нулевому уровню смертности).
      p Карта ОНФ визуализирует рейтинг регионов как по каждому из показателей, так и по их комплексу, на ней отображается динамика показателей в разрезе субъектов РФ как по стране в целом, так и по федеральным округам. На карте отражаются регионы-лидеры и регионы-аутсайдеры по значению показателей, а также по динамике их снижения по принципу «светофора» (зеленый цвет - хорошо, желтый – удовлетворительно, красный – вызывает обеспокоенность).
      p Контрольным показателем на Карте будет «смертность на 1000 населения». Регион будет выделяться в группу лидеров только в случае отрицательной динамики контрольного показателя.
      p Данные, используемые при построении рейтингов, берутся из открытых источников информации. Обновление происходит раз в квартал, кроме показателей «смертность населения в трудоспособном возрасте», которые обновляются раз в полгода.
      ol
        li Выбор одного или нескольких показателей смертности, на основе которых рассчитывается показатель и определяется место региона в рейтинге. Выбирать показатели смертности можно будет через административный интерфейс, доступный любому пользователю.
        li Фильтр по федеральным округам. Автоматически устанавливаются все округа. Пользователь может выбрать один или несколько округов для построения рейтинга.
        li Временная шкала: можно выбрать период с точностью до квартала для расчета динамики - изменений показателя. Курсор останавливается только на временных метках, по которым заполнены данные.
        li Выбор между отображением статических данных и динамических. По мере накопления данных при показе данных на определенное время (без динамики) делать выбор можно будет, двигая курсор по временной шкале. Курсор будет останавливаться только на временных метках, по которым заполнены данные.
        li При нажатии на ссылки «Отлично», «Хорошо», «Удовлетворительно» появляется список регионов. При выборе одного из них отображаются выбранные показатели с динамикой по региону.
